<a href="https://colab.research.google.com/github/feniltailor22/Feature-Engineering-and-Feature-Selection/blob/main/Feature_Selection-_How_To_Drop_Constant_Features_Using_Variance_Threshold.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Feature Selection- Dropping constant features**

In this step we will be removing the features which have constant features which are actually not important for solving the problem statement

In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame({"A":[1,2,4,1,2,4], 
                    "B":[4,5,6,7,8,9], 
                    "C":[0,0,0,0,0,0],
                    "D":[1,1,1,1,1,1]})

In [3]:
data

   A  B  C  D
0  1  4  0  1
1  2  5  0  1
2  4  6  0  1
3  1  7  0  1
4  2  8  0  1
5  4  9  0  1

In [4]:
from sklearn.feature_selection import VarianceThreshold

Feature selector that removes all low-variance features.

This feature selection algorithm looks only at the features (X), not the desired outputs (y), and can thus be used for unsupervised learning.

Features with a training-set variance lower than this threshold will be removed. The default is to keep all features with non-zero variance, i.e. remove the features that have the same value in all samples.

In [5]:
var_thre= VarianceThreshold(threshold=0)

In [6]:
var_thre.fit(data)

VarianceThreshold(threshold=0)

In [7]:
#checking the values which will be affected by thresholding

var_thre.get_support()

array([ True,  True, False, False])

In [8]:
#True columns will have Non-zero variance and False columns will have zero variance.
#Hence, we have to remove False columns as they are not impacting on the output.

In [9]:
data.columns[var_thre.get_support()]

Index(['A', 'B'], dtype='object')

In [10]:
constant_columns= [
                   column for column in data.columns
                   if column not in data.columns[var_thre.get_support()]
]

In [11]:
constant_columns

['C', 'D']

In [12]:
data.drop(constant_columns,axis=1)

   A  B
0  1  4
1  2  5
2  4  6
3  1  7
4  2  8
5  4  9

In [13]:
#1. Install the Kaggle library
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [14]:
#2. Make a directory named “.kaggle”
! mkdir ~/.kaggle

In [15]:
#3. Copy the “kaggle.json” into this new directory
! cp kaggle.json ~/.kaggle/

In [16]:
#4. Allocate the required permission for this file.
! chmod 600 ~/.kaggle/kaggle.json

In [17]:
#Downloading Competitions dataset:
# Copy API Command 

! kaggle competitions download -c santander-customer-satisfaction

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
Downloading sample_submission.csv to /content
  0% 0.00/612k [00:00<?, ?B/s]
100% 612k/612k [00:00<00:00, 85.2MB/s]
Downloading test.csv.zip to /content
  0% 0.00/4.02M [00:00<?, ?B/s]
100% 4.02M/4.02M [00:00<00:00, 37.1MB/s]
Downloading train.csv.zip to /content
100% 4.05M/4.05M [00:00<00:00, 32.7MB/s]

In [18]:
#unzipping the zip files and deleting the zip files
!unzip \*.zip  && rm *.zip

Archive:  test.csv.zip
  inflating: test.csv

Archive:  train.csv.zip
  inflating: train.csv

2 archives were successfully processed.

In [19]:
df= pd.read_csv('/content/train.csv')

In [20]:
df.head()

   ID  var3  var15  ...  saldo_medio_var44_ult3          var38  TARGET
0   1     2     23  ...                     0.0   39205.170000       0
1   3     2     34  ...                     0.0   49278.030000       0
2   4     2     23  ...                     0.0   67333.770000       0
3   8     2     37  ...                     0.0   64007.970000       0
4  10     2     39  ...                     0.0  117310.979016       0

[5 rows x 371 columns]

In [21]:
X=df.drop(labels=['TARGET'], axis=1)
y=df['TARGET']

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [24]:
X_train.shape, X_test.shape

((53214, 370), (22806, 370))

**Lets apply the variance threshold**

In [25]:
var_thres= VarianceThreshold(threshold=0)

In [26]:
var_thres.fit(X_train)

VarianceThreshold(threshold=0)

In [27]:
var_thres.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True, False,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True, False, False,  True,  True,
        True,  True, False,  True,  True,  True, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True, False,  True,  True,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [31]:
constant_columns= [
                   column for column in X_train.columns
                   if column not in X_train.columns[var_thres.get_support()]
]

In [32]:
constant_columns

['ind_var2_0',
 'ind_var2',
 'ind_var27_0',
 'ind_var28_0',
 'ind_var28',
 'ind_var27',
 'ind_var41',
 'ind_var46_0',
 'ind_var46',
 'num_var27_0',
 'num_var28_0',
 'num_var28',
 'num_var27',
 'num_var41',
 'num_var46_0',
 'num_var46',
 'saldo_var28',
 'saldo_var27',
 'saldo_var41',
 'saldo_var46',
 'delta_imp_reemb_var33_1y3',
 'delta_num_reemb_var33_1y3',
 'imp_amort_var18_hace3',
 'imp_amort_var34_hace3',
 'imp_reemb_var13_hace3',
 'imp_reemb_var33_hace3',
 'imp_reemb_var33_ult1',
 'imp_trasp_var17_out_hace3',
 'imp_trasp_var33_out_hace3',
 'num_var2_0_ult1',
 'num_var2_ult1',
 'num_reemb_var13_hace3',
 'num_reemb_var33_hace3',
 'num_reemb_var33_ult1',
 'num_trasp_var17_out_hace3',
 'num_trasp_var33_out_hace3',
 'saldo_var2_ult1',
 'saldo_medio_var13_medio_hace3']

In [33]:
X_train.drop(constant_columns,axis=1)

           ID  var3  ...  saldo_medio_var44_ult3          var38
7526    15083     2  ...                     0.0  117310.979016
51929  103706     2  ...                     0.0  451931.220000
46677   93351     2  ...                     0.0   41225.670000
46194   92424     2  ...                     0.0  117310.979016
20190   40437     2  ...                     0.0  153477.690000
...       ...   ...  ...                     ...            ...
21243   42533    53  ...                     0.0  124242.570000
45891   91801     2  ...                     0.0   34968.270000
42613   85345     9  ...                     0.0   69090.870000
43567   87270     2  ...                     0.0   66354.510000
68268  136296     2  ...                     0.0   75958.920000

[53214 rows x 332 columns]

In [37]:
X_train.shape

(53214, 370)